/* imports */

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=JetBrains+Mono:ital,wght@0,500;1,500&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,600&family=Overpass+Mono:wght@600;700&family=Quantico:ital,wght@0,400;0,700;1,400&family=VT323&display=swap');
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid green; */
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(2, 0, 36);
    background-image: linear-gradient(to top, #290446, #310651, #3a095c, #420d67, #4b1073, #531380, #5c168d, #64199a, #6e1dac, #7820be, #8125d0, #8b29e3);
    background-position: center;
    background-repeat: no-repeat;
}


/* fontes */

.josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.overpass {
    font-family: 'Overpass Mono', monospace;
}

.quantico {
    font-family: 'Quantico', sans-serif;
    font-weight: 700;
}

#box-login {
    width: 30rem;
    height: 533px;
    display: grid;
    margin: 0 auto 0 auto;
    background: #200642;
    border: 10px solid rgba(147, 97, 255, 0.2);
    box-shadow: 0px 4px 15px 7px rgba(254, 0, 229, 0.12);
    display: block;
}


/* form login */

#box-login form a {
    width: 90px;
    display: block;
    margin: 40px auto 0 auto;
}

#box-login form a img {
    display: block;
    margin: 10px auto 5px auto;
}

#container-fluid {
    margin: 100px auto 0 auto;
}

#inputs {
    margin: 80px auto 30px auto;
    display: block;
    width: 100%;
}

input:first-child {
    margin: 40px auto 100px auto;
    display: block;
}

input {
    margin: 10px auto 30px auto;
    display: block;
    width: 60%;
    height: 2.5rem;
    background: #CE99F0;
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 10px;
    border: none;
    text-align: center;
    color: rgb(1, 7, 32);
}

label {
    display: block;
    margin-bottom: 0;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Quantico', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

#button {
    width: 90px;
    background: #CE99F0;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    color: #64199a;
    padding: 3px;
    transition: all 0.2s;
}

#button:hover {
    width: 90px;
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    border-left: 5px solid #531380;
    border-bottom: 5px solid #531380;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
}

#error {
    display: none;
    color: red;
    margin: -20px 0px 8px 80px;
}

#error2 {
    color: red;
    margin: -20px 0 20px 80px;
    display: none;
}


/* para celular */

@media screen and (max-width: 500px) {
    #box-login {
        width: 70%;
    }
    input {
        margin: 10px auto 30px auto;
        display: block;
        width: 50%;
        height: 2.5rem;
        background: #CE99F0;
        border-radius: 10px;
        font-size: 0.9rem;
        padding: 10px;
        border: none;
        text-align: center;
    }
    #inputs {
        margin: 50px auto 30px auto;
    }
    #error2,
    #error {
        margin: -20px 0 10px 40px;
    }
    #button {
        margin-top: 20px !important;
    }
}